@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 450px;
    width: 100% !important;
    background-color: #d7e1e5;
    border-radius: 2px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: Open Sans Condensed;
    margin-left: 650px;
}

.loginmodal-container h1 { 
    text-align: center;
    font-size: 3em;
    font-family: poiret one;
    color: #2c3646;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 20px;
    font-family: poiret one;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #7c8491;
    padding: 17px 0px;
    font-family: poiret one;
    font-size: 24px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #2c3646;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 20px;
}

.alert-banner{
    max-width: 450px; !important;

}



div .alert-danger{
    text-align: center;
}



.loginmodal-container label{
    margin-left: 20px;
    color: #2c3646;
}

#remember-me{
    font-family: Open Sans Condensed;

}

.wrapper{
    min-height: 100%;
    background: url("../img/login.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}

.wrapper1{
    background: url("https://d3k5xyayaartr5.cloudfront.net/_assets/pattern-overlays/patterns/black-dots.png");
    min-height: 100%;

}

.modal-dialog {
    margin-top: 300px;
}


