{% extends "AppBundle:Default:index.html.twig" %}

{% block container %}

    <ol class="breadcrumb">
        <li><a href="dashboard.php">Home</a></li>
        <li>Order</li>
        <li class="active">
            Manage Order
        </li>;
    </ol>



<div class="panel panel-default">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-edit"></i> Manage Order
    </div>

    <div class="panel-body">
    <div id="success-messages"></div>

    <table class="table" id="manageOrderTable">
        <thead>
        <tr>
            <th>#</th>
            <th>Order Date</th>
            <th>Client Name</th>
            <th>Contact</th>
            <th>Total Order Item</th>
            <th>Payment Status</th>
            <th>Option</th>
        </tr>
        </thead>
    </table>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/manorder.js") }}"></script>
{% endblock %}
