{% extends "LoginBundle:Default:index.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/login-form.css')}}" />
{% endblock %}

{% block container %}
    {#<a href="#" data-toggle="modal" data-target="#login-modal">Login</a>#}
<div class="container">

        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                <form method="post" action="{{path('login_homepage')}}">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                </form>
            </div>
        </div>
    {% if name is defined %}
    <div class="alert alert-success">
        <strong>Welcome, {{ name }}</strong>
    </div>
    {%  endif %}
    {%   if error is defined  %}
    <div class="alert alert-danger">
        <strong> Wrong Credentials</strong>
    </div>
</div>
{%  endif %}
{% endblock %}
{% block javascripts %}
{% endblock %}
