{% extends "LoginBundle:Default:index.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/login-form.css')}}" />
{% endblock %}

{% block container %}
    {#<a href="#" data-toggle="modal" data-target="#login-modal">Login</a>#}
<div class="wrapper">
    <div class="wrapper1">
        <div class="container">
                <div class="modal-dialog">
                    <div class="loginmodal-container">
                        {%   if error is defined  %}
                            <div class="alert alert-danger alert-banner">
                                <strong>Грешно потребителско име или парола! Опитайте отново...</strong>
                            </div>
                        {%  endif %}
                        <h1>Влезте в акаунта си:</h1><br>
                        <form method="post" action="{{path('login')}}">
                            <input type="text" name="username" placeholder="Потребителско име">
                            <input type="password" name="password" placeholder="Парола">
                            <label class="checkbox">
                                <input type="checkbox" name="remember" id="remember-me" value="remember-me">Запомни ме
                            </label>
                            <input type="submit" name="login" class="login loginmodal-submit" value="Вход">
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{% endblock %}
